* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.images {
  padding: 0 10px 0 0;
  width: 70px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.blocks {
  position: relative;
  margin-left: 400px;
  width: 300px;
  padding: 8px 0;
  border-radius: 10px;
}

.icon {
  position: absolute;
}
